<div>
  <h3>
    <strong>Enter Username and Password to test if the password matches the hashed password in the database</strong>
  </h3>
  <form action="" method="POST">
    <input type="text" name="email" placeholder="email" />
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Test Password" />
  </form>
</div>

{{#if isAuthenticated}}
<div>
  <h2>Passwords Matched!</h2>
  <h3>User</h3>

  {{#if user}}
  <p>
    Username: {{user.username}}
  </p>
  <p>
    email: {{user.email}}
  </p>

  {{else}}
    <p>
      User: <strong>NULL</strong>
    </p>
  {{/if}}
</div>
{{/if}}
